.featured {
  padding: 40px;
  .featured-item {
    background: #e6e6e6;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .title {
      font-size: 24px;
    }
    .cost {
      font-size: 18px;
      display: flex;
      align-items: center;
      margin: 10px 0px;
      svg {
        font-size: 16px;
        color: green;
        margin-left: 5px;
      }
    }
    h4 {
      font-size: 20px;
    }
  }
}
